# Boolean

In [2]:
False

False

In [3]:
True

True

In [4]:
print(True,False)

True False

In [7]:
type(True)

bool

In [9]:
type(False)

bool

In [17]:
my_str='Namrata'

In [18]:
my_str.istitle()

True

In [21]:
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('a')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
True
False
False
False
True
False

# Boolean and Logical operations

In [22]:
True and True

True

In [24]:
True and False

False

In [26]:
True or True

True

In [28]:
False or True

True

In [29]:
str_example='Hello World'

In [31]:
my_str='Namrata'

In [32]:
my_str.isalpha() or str_example.isnum()

True

# Lists

In [34]:
type([])

list

In [37]:
lst_example=[]

In [39]:
type(lst_example)

list

In [42]:
lst=list()

In [44]:
type(lst)

list

In [47]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [49]:
len(lst)

6

In [51]:
type(lst)

list

# Append is used to add elements in the list.

In [59]:
lst.append("Namrata")

In [60]:
lst.append(["Tommy","Billy"])

In [61]:
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 'Namrata',
 'Namrata',
 'Namrata',
 ['Tommy', 'Billy'],
 ['Tommy', 'Billy'],
 ['Tommy', 'Billy'],
 'Namrata',
 ['Tommy', 'Billy']]

In [63]:
a='50'
b='7'
print(a+b)

507

In [66]:
int x='50'
int y='7'
print(int x + int y)

SyntaxError: invalid syntax (<ipython-input-66-f5db39fbaa6f>, line 1)

# Indexing in List

In [68]:
lst[6]

'Namrata'

In [72]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

In [75]:
## insert in a specific order

lst.insert(2,"Deka")

In [76]:
lst

['Mathematics',
 'chemistry',
 'Deka',
 'Deka',
 'Deka',
 100,
 200,
 300,
 204,
 'Namrata',
 'Namrata',
 'Namrata',
 ['Tommy', 'Billy'],
 ['Tommy', 'Billy'],
 ['Tommy', 'Billy'],
 'Namrata',
 ['Tommy', 'Billy']]

In [79]:
lst.append(["Hello","World"])

In [80]:
lst

['Mathematics',
 'chemistry',
 'Deka',
 'Deka',
 'Deka',
 100,
 200,
 300,
 204,
 'Namrata',
 'Namrata',
 'Namrata',
 ['Tommy', 'Billy'],
 ['Tommy', 'Billy'],
 ['Tommy', 'Billy'],
 'Namrata',
 ['Tommy', 'Billy'],
 ['Hello', 'World'],
 ['Hello', 'World'],
 ['Hello', 'World']]

In [81]:
lst=[1,2,3]

In [82]:
lst.append([4,5])

In [83]:
lst

[1, 2, 3, [4, 5]]

# Extend method

In [88]:
lst=[1,2,3,4,5,6]

In [90]:
lst.extend([8,9])

In [92]:
lst

[1, 2, 3, 4, 5, 6, 8, 9, 8, 9]

# Various Operations that we can perform in List

In [96]:
lst=[1,2,3,4,5]

In [98]:
sum(lst)

15

In [100]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# Pop method

In [101]:
lst.pop()

5

In [102]:
lst

[1, 2, 3, 4]

In [103]:
lst.pop(0)

1

In [105]:
lst

[2, 3, 4]

# count():Calculates total occurrence of given element of List

In [106]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [108]:
#length:Calculates total length of List
len(lst)

6

In [110]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [112]:
max(lst)

5